ASSIGNMENT TASK: 2

INTERN ID: IN226010302

NAME: TANISHKA PRASAD JADHAV

Task 2: Feb Internship Logic Building Task
Python Programming Practice Problems

Problem 1: Unique Words in a Sentence

In [ ]:
sentence=input("Enter sentence: ")
words=sentence.split() #Split sentence
unique=set(words)
print("Unique count:", len(unique))
print("Unique words:", unique)

Enter sentence: Tanishka Jadhav is my name. Tanishka is an intern at Innomatics RL
Unique count: 10
Unique words: {'intern', 'my', 'RL', 'Tanishka', 'name.', 'an', 'Jadhav', 'Innomatics', 'at', 'is'}

Problem 2: Highest Salary from Employee Data


Problem Statement: Store employee names and their salaries, and determine which employee has the highest salary.

In [ ]:
employees={
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
highest_name=""
highest_sal=0
for name in employees:
    if employees[name]>highest_sal:
        highest_sal=employees[name]
        highest_name=name
print("Highest Salary:",highest_name,"-", highest_sal)

Highest Salary: Ravi - 75000

Problem 3: Find Maximum and Minimum Values

Problem Statement: Find the maximum and minimum values from a list of numbers.
Hint: Initialize both maximum and minimum with the first element of the list.
Use a loop to compare each element.

In [ ]:
list1=[45,22,89,10,66]
#assume first number is max and min
maximum=list1[0]
minimum=list1[0]
for num in list1:
    if num>maximum:
        maximum=num
    if num<minimum:
        minimum=num
print("List:",list1)
print("Max:",maximum)
print("Min:",minimum)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

Problem 4: Count Products Above a Price Threshold

Problem Statement: Count how many products have a price greater than 1000.

In [ ]:
prices=[450,1200,899,1500,300]
count=0
for price in prices:
    if price>1000:
        count=count+1
print("Products above 1000:",count)

Products above 1000: 2

Problem 5: Calculate Attendance Percentage
Problem Statement: Calculate the attendance percentage from a list containing "P" (Present) and "A" (Absent).

In [ ]:
attendance=["P","P","A","P","P"]
p=0
for i in attendance:
    if i=="P":
        p+=1
total=len(attendance)
percentage=(p/total)*100
print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

Problem 6: Remove Duplicate Phone Numbers

Problem Statement: You are given a list of phone numbers that may contain duplicates. Write a Python program to remove duplicate phone numbers and display only the unique phone numbers.

In [ ]:
phone_nos=[9876543210, 9123456789, 9876543210,8767562781,8767562781]
unique=[] #empty list
for num in phone_nos:
    if num not in unique:
        unique.append(num)
print("Unique phone numbers:", unique)

Unique phone numbers: [9876543210, 9123456789, 8767562781]

Problem 7: Count Character Frequency
Problem Statement: count how many times each character appears in a given string.

In [ ]:
string="tanishkajadhav"
result={} #empty dict
for i in string:
  #If character already exists in dictionary: Increase its value by 1 ELSE If character does not exist: add 1
    if i in result:
        result[i]+=1
    else:
        result[i]=1
print(result)

{'t': 1, 'a': 4, 'n': 1, 'i': 1, 's': 1, 'h': 2, 'k': 1, 'j': 1, 'd': 1, 'v': 1}

Problem 8: Convert List to Tuple

Problem Statement: Convert a list into a tuple and display it.

In [ ]:
list1=[10,20,30]
t=tuple(list1) #tuple function converts list into tuple
print("Tuple:",t)

Tuple: (10, 20, 30)

Problem 9: Check if a Key Exists in a Dictionary

Problem Statement: Check whether a specific key exists in a dictionary.

In [ ]:
employees = {
    "Tanishka": 75000,
    "Disha": 68000
}
name=input("Enter Emp Name: ")
if name in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Enter Emp Name: Tanishka
Employee exists

Problem 10: Calculate Average Marks
Problem Statement:Calculate the average marks of a student from a list of marks.

In [ ]:
marks=[70,75,65,80]
total=0
for m in marks:
    total+=m
average=total/len(marks)
print("Average Marks:", average)

Average Marks: 72.5